@tailwind base;
@tailwind components;
@tailwind utilities;
.site_wrapper{
    width: 100vw;
    overflow-x: hidden;
}
:root{
    font-family:'italic',"Noto Sans", "Helvetica Neue",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}